@using ECommerce.Dto.CatalogDtos.ProductDtos
@model UpdateProductDto
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}







<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4>Ürün Güncelleme Sayfası</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">
                        <input type="hidden" name="ProductID" value="@Model?.ProductID" />
                        <label>Ürün Adı</label>
                        <input type="text" class="form-control" name="ProductName" value="@Model?.ProductName" />
                        <br />
                        <label>Ürün Fiyatı</label>
                        <input type="text" class="form-control" name="ProductPrice" value="@Model?.ProductPrice" />
                        <br />
                        <label>Ürün Görseli</label>
                        <input type="text" class="form-control" name="ProductImageUrl" value="@Model?.ProductImageUrl" />
                        <br />
                        <label>Ürün Kategorisi</label>
                        @Html.DropDownListFor(x => x.CategoryID, (IEnumerable<SelectListItem>)ViewBag.CategoryValuess2, "Kategori Seç", new { @class = "form-control" })
                        <br />
                        <label>Ürün Açıklaması</label>
                        <textarea class="form-control" name="ProductDescription" rows="5">@Model?.ProductDescription</textarea>
                        <br />
                        <button class="btn btn-primary">Ürünü Güncelleme</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

